@media (max-width: 457px) {
  .shipment-details {
    margin-left: -20px;
    width: 100vw;
  }
  .receipient-info {
    border: none !important;
  }
  .receipt-info-ar {
    margin-right: -2px;
  }
  .receipt-info {
    margin-left: 0;
  }
  .data {
    width: 300px !important;
    margin-left: 0;
  }
  .data-ar {
    margin-right: 0;
    width: 340px  !important;
  }
  .input-data-ar , .phone-div-ar{
    width: 310px !important;
    margin-right: 5px;
  }
  .input-data,
  .phone-div {
    position: relative;
    left: 0;
    width: 273px !important;
  }
}

@media (max-width : 464px) {
  .basic-details{
    width: 100% !important;
  }
  .input-flex{
    flex-direction: column;
    align-items: flex-start;
    width: 323px;
  }
 
 
  .change{
    margin-left: 0;
  }
  .update-profile{
    margin: 20px 100px;
  }
  .input-profile{
    width: 323px;
  }
}
@media (max-width:511px) {
  .input-flex{
    width: 323px;
  }
}
.input-data-ar .react-international-phone-country-selector-dropdown , .input-profile-ar .react-international-phone-country-selector-dropdown {
  margin: 0 -300px 0 !important;
}
