body.active-modal {
  overflow:hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.overlay-ar{
  width: 100vw;
  height: 100vh;

  left: 50%;

  bottom: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.25);

}

.delete-overlay-ar{

  width: 100vw;
  height: 100vh;

  left: 0;

  bottom: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0,0,0,0.25);
}

@media only screen and (max-width: 480px){
  .Toastify__toast{

    margin-left : 250px !important;
  }
}



.overlay {
  background-color: rgba(0,0,0,0.25);
  z-index: 100;
}
.modal-content {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.4;
  background-color: white;
  padding: 14px 28px;
  border-radius: 15px;
  z-index: 100;
  width: 512px;
  height: 700px;
}

.modal-content-ar{
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translateX(-50%);
  line-height: 0.4;
  background-color: white;
  padding: 14px 28px;
  border-radius: 15px;
  z-index: 100;
  width: 512px;
  height: 700px;
}
@media (max-width:767px) {
  .modal-content-ar{
    top: 10px;
    width: 350px;
    margin:0 ;
  }
  
}
.delete-modal-content , .error-modal-content{
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50% );
  line-height: 0.4;
  background-color: white;
  padding: 14px 28px;
  border-radius: 15px;
  z-index: 100;
  width: 512px;
 
}
@media (max-width:767px) {
  .modal-content {
    top: 20px;
    width: 350px;
    height: 700px;
    

  }
  .delete-modal-content{
   
    width: 320px !important;
    left: 50%;
  }
  .image-div{
    width: calc(100% - 30px);
  }
 

}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.progress{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50% );
  line-height: 0.4;

  padding: 14px 28px;
  border-radius: 15px;
  z-index: 100;


}
div input:focus {
  outline: none;
}
@media ((min-width: 1025px) and (max-width : 1151px)) {
  .modal-content {
    left: 60%;
  }
}


