.journey::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  width: 90%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.19);
  bottom: 0;
}
.journey-date::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  width: 90%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.19);
  bottom: -20px;
}
@media (max-width: 1023px) {
  .journey::after {
    width: 95%;
  }
  .journey-date::after{
    width: 95%;
  }
}
@media ((min-width : 1024px) and (max-width: 1370)) {
  .journey{
    flex-direction: column !important;
  }
}
@media (min-width : 1371px) {
  .journey{
    flex-direction: row !important;
  }
}
@media (max-width: 640px) {
  .journey::after {
    width: 80%;
    left: 1.75rem;
  }
  .journey-date::after{
    width: 80%;
    left: 1.75rem;
  }
}

@media ((min-width : 768px) and (max-width : 1286px)) {
  
  ol.places , li.places{
   flex-direction: column;
  }
  span.dest{
    display: none;
  }
  .final-place{
    margin-left: 20px;
  }
}

