@media ((min-width:1025px) and (max-width : 1151px)) {
    /* .parent{
        grid-template-columns: repeat(1 , minmax(0 , 1fr)) !important;
    } */
    .booking{
        justify-content: center;
       
    }
    /* .booking-btn{
        margin-left: 0;
    } */
    .car-header{
        justify-content: flex-start !important;
    }
    .car-btn{
        margin-left: 350px;
    }
    /* .book-btn{
        margin-left: 300px ;
    } */
}

  
