
body.active-modal {
    overflow-y: hidden;
}



.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
 
}

.overlay {
    background: rgba(0, 0, 0, 0.1);
    
}
.modal-content {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: white;
    box-shadow: 0  0 1px #ddd;
    padding: 14px 28px;
    border-radius: 3px;
    z-index: 100;

}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
div input:focus{
    outline: none;
}
@media ((min-width:1025px) and (max-width : 1151px)){
    .modal-content{
        left: 60% 
    }
}
